<app-header [title]="language.title" settings=true></app-header>

<ion-item id="shearchInput">
  <ion-icon name="search-outline" slot="start" color="light"></ion-icon>
  <ion-input type="text" [(ngModel)]="songName" (ionChange)="findByName()" [placeholder]="language.search"></ion-input>
  <ion-icon name="close-circle-outline" slot="end" color="light" (click)="removeFind()"></ion-icon>
</ion-item>

<ion-content>
  <ion-list *ngIf="playList.length>0">
    <ion-item button *ngFor="let song of playList" (click)="start(song)">
      <ion-label [color]="song==activeSong?'success':'light'">{{song.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="activeSong">
  <ion-toolbar>
    <ion-row>
      <ion-col size="4" class="modCol">
        <ion-button (click)="setMod(2)" *ngIf="mod==1">
          <ion-icon slot="icon-only" name="repeat-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="setMod(1)" *ngIf="mod==2">
          <ion-icon slot="icon-only" name="shuffle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">{{activeSong.name}}</ion-col>
      <ion-col size="4" class="ion-text-right" id="volumeCol">
        <ion-button (click)="toggleVolumeBar()">
          <ion-icon *ngIf="volume>=66" name="volume-high-outline"></ion-icon>
          <ion-icon *ngIf="volume>=33 && volume<66" name="volume-medium-outline"></ion-icon>
          <ion-icon *ngIf="volume>0  && volume<33" name="volume-low-outline"></ion-icon>
          <ion-icon *ngIf="volume==0" name="volume-mute-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-range *ngIf="toggleProgressVolume" id="volumeRange" min="0" max="100" pin color="primary" [(ngModel)]="volume"
          (touchend)="changeVolume()"
          (mouseup)="changeVolume()">
          <ion-icon slot="start" name="volume-mute-outline"></ion-icon>
          <ion-icon slot="end" name="volume-high-outline"></ion-icon>
        </ion-range>
        <ion-range *ngIf="!toggleProgressVolume" #progressRange pin
          min="0" max="100" [(ngModel)]="progress" color="success" (touchend)="seek()" (mouseup)="seek()">
          <ion-label slot="start">{{currentTime.minutes}}:{{currentTime.seconds}}</ion-label>
          <ion-label slot="end">{{totalTime.minutes}}:{{totalTime.seconds}}</ion-label>

        </ion-range>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button fill="clear" (click)="prev()" color="light">
          <ion-icon name="play-skip-back"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="togglePlayer()" color="light" >
          <ion-icon name="play" *ngIf="!isPlaying"></ion-icon>
          <ion-icon name="pause" *ngIf="isPlaying"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="next()" color="light">
          <ion-icon name="play-skip-forward"></ion-icon>
        </ion-button>
      </ion-col>
      
    </ion-row>
    
  </ion-toolbar>
</ion-footer>