<app-header [title]="language.songs" settings=true></app-header>

<ion-item id="shearchInput">
  <ion-icon name="search-outline" slot="start"></ion-icon>
  <ion-input type="text" [(ngModel)]="filterSong" name="filterSong" [placeholder]="language.search"></ion-input>
  <ion-icon name="close-circle-outline" slot="end" (click)="filterSong=''"></ion-icon>
</ion-item>

<ion-content>
  <ion-list *ngIf="playList.length>0">
    <div class="songItem" *ngFor="let song of allSongs | filter:filterSong">
      <ion-item button (click)="clickSong(song)">
        <ion-label [class]="song==activeSong?'activeSong':'nonActiveSong'">{{song.name}}</ion-label>
      </ion-item>
      <ion-button (click)="songSettings(song)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-list>
</ion-content>
<ion-footer *ngIf="activeSong">
  <ion-toolbar>
    <div class="songItem">
      <ion-item button (click)="clickFooter()">
        <ion-label>{{activeSong.name}}</ion-label>
      </ion-item>
      <ion-button (click)="togglePlayer(song)">
        <ion-icon name="play"  *ngIf="!isPlaying"></ion-icon>
        <ion-icon name="pause" *ngIf="isPlaying" ></ion-icon>
      </ion-button>
      <ion-button (click)="next()">
        <ion-icon name="play-skip-forward"></ion-icon>
      </ion-button>
    </div>

  </ion-toolbar>
</ion-footer>