<app-header [title]="language.songs" settings=true></app-header>

<ion-item id="shearchInput">
  <ion-icon name="search-outline" slot="start"></ion-icon>
  <ion-input type="text" [(ngModel)]="filterSong" (ionChange)="highlight()" name="filterSong" [placeholder]="language.search"></ion-input>
  <ion-icon name="close-circle-outline" slot="end" (click)="filterSong=''"></ion-icon>
</ion-item>

<ion-content>
  <div id="actionButtons">
    <ion-button (click)="order()" fill="clear" mode="ios" shape="round">
      <ion-icon slot="start" name="filter"></ion-icon>
      {{language.order}}: {{orderedBy}}
    </ion-button>
    <ion-button (click)="filter()" fill="clear" mode="ios" shape="round">
      <ion-icon slot="start" src="assets/icon/filter.svg"></ion-icon>
      {{language.filter}}
    </ion-button>
  </div>
  <div id="loading" *ngIf="isLoading">
    <p>Buscando canciones...</p>
    <ion-progress-bar [color]="this._theme.getColorStr()" type="indeterminate"></ion-progress-bar>
  </div>
  <ion-list *ngIf="playList && playList.length>0">
    <div class="songItem" *ngFor="let song of playList | filter:filterSong">
      <ion-item button (click)="clickSong(song)">
        <ion-label [class]="song==activeSong?'activeSong':'nonActiveSong'">
          <h2 #h2>{{song.title}}</h2>
          <p  #p>{{song.artist}} - {{song.genre}}</p>
        </ion-label>
        <img *ngIf="song==activeSong && isPlaying" src="/assets/icon/music.gif" width="20px" alt="">
      </ion-item>
      <ion-button (click)="songSettings(song)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-list>
</ion-content>
<ion-footer *ngIf="activeSong">
  <ion-progress-bar [color]="this._theme.getColorStr()" [value]="progress"></ion-progress-bar>
  <ion-toolbar>
    <div class="songItem">
      <ion-item button (click)="clickFooter()">
        <ion-label>{{activeSong.title}}</ion-label>
      </ion-item>
      <ion-button (click)="togglePlayer(song)">
        <ion-icon name="play"  *ngIf="!isPlaying"></ion-icon>
        <ion-icon name="pause" *ngIf="isPlaying" ></ion-icon>
      </ion-button>
      <ion-button (click)="next()">
        <ion-icon name="play-skip-forward"></ion-icon>
      </ion-button>
    </div>

  </ion-toolbar>
</ion-footer>