ion-content, ion-list, ion-item,ion-toolbar{
    --background:var(--background-color);
    --ion-background-color:var(--background-color);
    color:var(--text-color);
}
.songItem{
    display: flex;
    justify-content: space-between;
    ion-item{
        width: 100%;
        --border-style:0;
    }
}
.activeSong{
    color: var(--text-color-selected);
}
.nonActiveSong{
    color:var(--text-color);
}
ion-icon{
    color: var(--button-color);
}
ion-content{
    position: relative;
}
ion-button{
    --box-shadow:none;
    --color:var(--text-color);
}
.modCol ion-button{
    font-size: 10px;
}
#shearchInput{
    
    --highlight-background:var(--decorative-color);
    
    --background:var(--searchInput-background);
    width: 100%;
}
#musicControls{
    position: relative;
}
#viewPlayListBtn{
    position: absolute;
    right: 0;
}
#actionButtons{
    display: flex;
    justify-content: space-between;
}
#loading{
    margin: 0 1pc;
    padding: 0.5pc 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background:var(--background-color);

    p{
        color: var(--text-color);
    }
}