ion-header > ion-toolbar{
    ion-button,ion-title,ion-icon{
        --color: white;
        color: white;
    }
}
ion-content{
    background: var(--background-color);
    --background: var(--background-color);
    #imgDiv{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
ion-label,p{
    color: var(--text-color)
}
img{
    border-radius: 10%;
    max-width: 220px;
}
h1{
    text-align: center;
}
ion-button{
    --box-shadow:none;
    --color: var(--button-color);
}
ion-icon{
    color: var(--button-color);
}
//Elimina una pequeña línea que aparecía sobre el footer
.footer-md::before{
    height: 0;
}
ion-footer{
    ion-toolbar{
        border-top: 2px solid var(--decorative-color);
        border-radius: 10% 10% 0 0;
    }
    ion-icon{
        font-size: 35px;
    }
}
ion-range{
    padding: 0;
}
#musicControls{
    position: relative;    
    #viewPlayListBtn{
        position: absolute;
        right: 0;
    }
}
.spinner-large {
    width: 100px;
    height: 100px;
}
#artistGenreLbl{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
}