ion-header > ion-toolbar{
    ion-button,ion-title,ion-icon{
        --color: white;
        color: white;
    }
}
ion-content{
    background: var(--background-color);
    --background: var(--background-color);
    div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
ion-label{
    color: var(--text-color)
}
img{
    border-radius: 50px;
}
h1{
    text-align: center;
}
ion-button{
    --box-shadow:none;
    --color: var(--button-color);
}
ion-icon{
    color: var(--button-color);
}
ion-footer{
    ion-toolbar{
        ion-row{
            margin-top: 1pc;
        }
        border-top: 2px solid var(--decorative-color);
        border-radius: 10% 10% 0 0;
    }
    ion-icon{
        font-size: 35px;
    }
}
ion-range{
    padding: 0;
}
#musicControls{
    position: relative;    
    #viewPlayListBtn{
        position: absolute;
        right: 0;
    }
}