ion-toolbar{
    --background:var(--ion-color-dark);
    --ion-background-color:var(--ion-color-dark);
    color:white;
}
ion-button{
    --background:var(--ion-color-dark);
    --box-shadow:none;
}
div{
    display: flex;
}