ion-header{
    padding-top:2pc;
    background:var(--header-backgroundcolor);
}
ion-toolbar{
    --background:var(--header-backgroundcolor);
    color:white;
}
ion-button{
    --box-shadow:none;
}
div{
    display: flex;
}