ion-header{
    background:var(--header-backgroundcolor);
}
ion-toolbar{
    --background:var(--header-backgroundcolor);
    color:white;
}
ion-button{
    --box-shadow:none;
}
div{
    display: flex;
}