ion-button{
    --color:black;
}
ion-content, ion-list, ion-item,ion-toolbar{
    --background:var(--background-color);
    --ion-background-color:var(--background-color);
    color:var(--text-color);
}
ion-item:focus{
    color:var(--text-color);
}